.gameboard {
	--size: 300px;

	margin: 0 auto;
	width: var(--size);
	height: var(--size);
	min-height: auto;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	background-image: url("../../imgs/grid/oceangrid1.png");
	background-size: cover;

	/* Descendants ⬇️ */
	& > * {
		border-right: 1px solid #3f6ca6;
		border-bottom: 1px solid #3f6ca6;
	}

	.cell {
		background-color: none;
		/* border: 0.5px solid rgb(var(--outline-variant)); */
		overflow: hidden;
		color: rgb(var(--on-primary));
	}

	.cell.illegal {
		position: relative;
	}

	.cell.cell.illegal::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: rgba(var(--error) / 0.5);
	}

	.ship-sprite {
		width: 100%;
		height: 100%;
	}

	.ship-sprite.x {
		transform: rotate(270deg);
	}

	.ship-sprite.y {
		/* transform: rotate(180deg); */
	}
}

.gameboard:hover {
	cursor: pointer;
}

.ship {
	--ship-icon-size: 1.75rem;

	max-width: calc(var(--ship-icon-size) * 1.75);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	svg {
		width: var(--ship-icon-size);
		height: var(--ship-icon-size);

		path {
			fill: rgb(var(--outline));
			opacity: 80%;
		}
	}

	p {
		font-size: 10px;
		text-align: center;
		color: rgb(var(--outline));
	}
}

.ship.focused {
	svg path {
		fill: rgb(var(--primary));
		opacity: 100%;
	}

	p {
		color: rgb(var(--primary));
	}
}

.ship.placed {
	svg path {
		fill: rgb(var(--success));
		opacity: 100%;
		box-shadow: var(--elevation-5);
	}

	p {
		color: rgb(var(--primary));
	}
}

.ship.destroyed {
	& > svg path {
		fill: rgb(var(--error));
		opacity: 60%;
		transform: scaleY(-1);
	}
}
