.header {
	width: fit-content;
	padding: 1rem 0;

	& > h1 {
		font-family: var(--display-font), var(--main-font), var(--fallback-fonts);
		color: rgb(var(--primary));

		font-size: 2.75rem;
		text-align: center;
		letter-spacing: 0.05em;
	}

	& > p {
		padding-top: 0.25rem;
		font-weight: bold;
		text-align: right;
		color: rgb(var(--outline));
	}
}
