body.preparation {
	margin: 0;
	display: flex;
	flex-direction: column;

	/* Descendants ⬇️ */
	main {
		flex: 1;
		width: fit-content;
		display: grid;
		margin: 2rem 0;
	}

	.gamestate-header {
		width: max-content;
		margin: 0 auto;
		margin-bottom: 2rem;

		& > img {
			max-height: 80px;
		}

		& > h2 {
			font-size: 1.25rem;
			color: rgb(var(--secondary));
			text-align: center;
		}
	}

	.preparation-editor {
		display: grid;
		gap: 1.5rem;
	}

	.name-field {
		display: grid;
		gap: 0.25rem;
	}

	.name-field > input {
		width: 100%;
		border: 1px solid rgb(var(--on-surface));
		border-radius: 0.25rem;
		padding: 0.25rem;
	}

	.ship-placement-editor {
		display: grid;
		gap: 0.5rem;

		.gameboard {
			--size: 280px;

			@media (width >= 23rem) {
				--size: 300px;
			}

			@media (width >= 32rem) {
				--size: 320px;
			}

			@media (width >= 48rem) {
				--size: 340px;
			}

			@media (width >= 64rem) {
				--size: 360px;
			}

			@media (width >= 80rem) {
				--size: 380px;
			}

			@media (width >= 96rem) {
				--size: 400px;
			}
		}
	}

	.ship-indicators {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.ships {
		display: flex;
		gap: 0.5rem;

		& > .ship {
			--ship-icon-size: 1.75rem;

			max-width: calc(var(--ship-icon-size) * 1.75);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;

			svg {
				width: var(--ship-icon-size);
				height: var(--ship-icon-size);

				path {
					fill: rgb(var(--outline));
					opacity: 80%;
				}
			}

			p {
				font-size: 10px;
				text-align: center;
				color: rgb(var(--outline));
			}
		}

		& > .ship.focused {
			svg path {
				fill: rgb(var(--primary));
				opacity: 100%;
			}

			p {
				color: rgb(var(--primary));
			}
		}

		& > .ship.placed {
			svg path {
				fill: rgb(var(--success));
				opacity: 100%;
				box-shadow: var(--elevation-5);
			}

			p {
				color: rgb(var(--primary));
			}
		}
	}

	.helper-btns {
		--button-size: 2.75rem;

		display: flex;
		gap: 0.5rem;
		justify-content: flex-end;

		& > button {
			min-width: var(--button-size);
			max-height: var(--button-size);
			padding: 0.25rem 0.25rem;
			flex-direction: column;
			font-size: 11px;
			gap: 0.25rem;

			span:first-child {
				font-size: 11px;
			}
		}
	}

	.ship-sprite {
		width: 100%;
		height: 100%;
	}

	.ship-sprite.x {
		transform: rotate(270deg);
	}

	.ship-sprite.y {
		/* transform: rotate(180deg); */
	}

	.confirm-preparation {
		font-size: 1.25rem;
		margin: auto;
	}

	/* Responsiveness ⬇️ */
	@media (width >= 40rem) {
		.helper-btns > button {
			padding: 0.5rem;
		}
	}

	@media (width >= 48rem) {
		.helper-btns {
			--button-size: 3rem;

			& > button {
				font-size: 0.75rem;

				span:first-child {
					font-size: 0.75rem;
				}
			}
		}

		.ship {
			--ship-icon-size: 2rem;

			p {
				font-size: 0.75rem;
			}
		}
	}

	@media (width >= 64rem) {
		.helper-btns {
			--button-size: 3.25rem;

			& > button {
				gap: 0.5rem;
			}
		}

		.ship {
			--ship-icon-size: 2.5rem;

			p {
				font-size: 0.75rem;
			}
		}

		.confirm-preparation {
			font-size: 1.75rem;
		}
	}
}
