body.start {
	min-width: 100%;

	& > main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero {
		display: grid;
		justify-items: center;
		gap: 0.75rem;

		& > .hero-image {
			display: grid;
			justify-items: center;
			gap: 0.25rem;

			& > img:first-child {
				max-height: 260px;
			}

			& > img:last-child {
				max-width: 250px;
			}
		}
	}

	.start-game-btn {
		margin: 3rem auto;
		box-shadow: var(--elevation-2);

		& > span {
			font-size: 1.25rem;
		}
	}

	.start-game-btn:hover {
		box-shadow: var(--elevation-3);
	}

	@media (width >= 48rem) {
		main {
			width: 50dvw;
		}

		.hero-image > img:last-child {
			max-width: 100%;
		}

		.hero .header h1 {
			font-size: 3.25rem;
		}
	}

	@media (width >= 64rem) {
		.hero .header h1 {
			font-size: 4.25rem;
		}
	}
}
