.outline *,
.outline {
	border: 0.5px solid red;
}

:root {
	--display-font: "Rubik Dirt";
	--main-font: "Arimo";
	--fallback-fonts:
		system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* ---- Elevation styles ---- */
	--elevation-1:
		0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.08);
	--elevation-2:
		0px 2px 4px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.08);
	--elevation-3:
		0px 4px 8px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.08);
	--elevation-4:
		0px 6px 12px rgba(0, 0, 0, 0.14), 0px 10px 16px rgba(0, 0, 0, 0.1);
	--elevation-5:
		0px 8px 16px rgba(0, 0, 0, 0.16), 0px 14px 20px rgba(0, 0, 0, 0.12);

	font-family: var(--main-font), var(--fallback-fonts);
	color: rgb(var(--on-surface));
}

body {
	height: 100dvh;
	background-color: rgb(var(--surface));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	overflow-y: scroll;
}
/* ------------------------------------------- */
