:root {
	--fallback-fonts:
		system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* Colors */
	--success: 46 125 50;
	--on-success: 255 255 255;
	--gold: 255 215 0;

	/* Screen sizes */
	--sm: 40rem; /* 640px */
	--md: 48rem; /* 768px */
	--lg: 64rem; /* 1024px */
	--xl: 80rem; /* 1280px */
	--xl2: 96rem; /* 1536px */

	/* Container sizes */
	--c-xs3: 16rem; /* 258px */
	--c-xs2: 18rem; /* 288px */
	--c-xs: 20rem; /* 320px */
	--c-sm: 24rem; /* 384px */
	--c-md: 28rem; /* 448px */
	--c-lg: 32rem; /* 512px */
	--c-xl: 36rem; /* 578px */
	--c-xl2: 42rem; /* 672px */
	--c-xl3: 48rem; /* 768px */
	--c-xl4: 56rem; /* 896px */
	--c-xl5: 64rem; /* 1024px */
	--c-xl6: 72rem; /* 1152px */
	--c-xl7: 80rem; /* 1280px */

	/* ---- Elevation styles ---- */
	--elevation-1:
		0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.08);
	--elevation-2:
		0px 2px 4px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.08);
	--elevation-3:
		0px 4px 8px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.08);
	--elevation-4:
		0px 6px 12px rgba(0, 0, 0, 0.14), 0px 10px 16px rgba(0, 0, 0, 0.1);
	--elevation-5:
		0px 8px 16px rgba(0, 0, 0, 0.16), 0px 14px 20px rgba(0, 0, 0, 0.12);

	--display-font: "Rubik Dirt";
	--main-font: "Arimo";
}

.material-symbols-outlined.filled {
	font-variation-settings:
		"FILL" 1,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
}

.outline *,
.outline {
	border: 0.5px solid red;
}

html {
	font-family: var(--main-font), var(--fallback-fonts);
}

html,
body {
	color: rgb(var(--on-surface));
	min-height: 100dvh;
}

body {
	background-color: rgb(var(--surface));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;

	& > main {
		flex: 1;
	}

	> *:not(footer) {
		padding: 0 1rem;
	}
}
