.color-theme-light {
	--primary: 67 94 145;
	--surface-tint: 67 94 145;
	--on-primary: 255 255 255;
	--primary-container: 215 226 255;
	--on-primary-container: 42 70 120;
	--secondary: 86 94 113;
	--on-secondary: 255 255 255;
	--secondary-container: 218 226 249;
	--on-secondary-container: 63 71 89;
	--tertiary: 113 85 116;
	--on-tertiary: 255 255 255;
	--tertiary-container: 251 215 252;
	--on-tertiary-container: 87 62 91;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 249 249 255;
	--on-background: 26 27 32;
	--surface: 249 249 255;
	--on-surface: 26 27 32;
	--surface-variant: 225 226 236;
	--on-surface-variant: 68 71 79;
	--outline: 116 119 127;
	--outline-variant: 196 198 208;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 47 48 54;
	--inverse-on-surface: 240 240 247;
	--inverse-primary: 172 199 255;
	--primary-fixed: 215 226 255;
	--on-primary-fixed: 0 26 64;
	--primary-fixed-dim: 172 199 255;
	--on-primary-fixed-variant: 42 70 120;
	--secondary-fixed: 218 226 249;
	--on-secondary-fixed: 19 28 44;
	--secondary-fixed-dim: 190 198 220;
	--on-secondary-fixed-variant: 63 71 89;
	--tertiary-fixed: 251 215 252;
	--on-tertiary-fixed: 41 19 46;
	--tertiary-fixed-dim: 222 188 223;
	--on-tertiary-fixed-variant: 87 62 91;
	--surface-dim: 217 217 224;
	--surface-bright: 249 249 255;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 243 243 250;
	--surface-container: 237 237 244;
	--surface-container-high: 232 231 238;
	--surface-container-highest: 226 226 233;
}
